.Image-Color-Picker__Wrap {
  width: 800px;
  height: 800px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  padding: 20px;
  background-color: rgba(250, 250, 250, 50%);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .Image-Color-Picker__Wrap__Box-Top {
    display: flex;
    gap: 20px;
    
    .Image-Color-Picker__Wrap__Box-Top__Box-Left {
      width: 500px;
      height: 500px;
      border: 1px solid var(--color-border);
    }

    .Image-Color-Picker__Wrap__Box-Top__Box-Right {
      flex-grow: 1;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .Canvas-Button {
        flex-grow: 1;
        cursor: pointer;
      }
    }
  }

  .Image-Color-Picker__Wrap__Box-Bottom {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-auto-rows: 20px;
    gap: 5px;
    border: 1px solid var(--color-border);
    flex-grow: 1;
    max-height: 238px;
    overflow-y: scroll;

    .block {
      transition: transform 0.25s ease;

      &:hover {
        transform: scale(2);
      }
    }
  }
}
