$red100: rgb(255, 204, 204);
$red200: rgb(255, 153, 153);
$red300: rgb(255, 102, 102);
$red400: rgb(255, 51, 51);
$red500: rgb(255, 0, 0);
$red600: rgb(204, 0, 0);
$red700: rgb(153, 0, 0);
$red800: rgb(102, 0, 0);
$orange100: rgb(255, 230, 204);
$orange200: rgb(255, 204, 153);
$orange300: rgb(255, 179, 102);
$orange400: rgb(255, 153, 51);
$orange500: rgb(255, 128, 0);
$orange600: rgb(204, 102, 0);
$orange700: rgb(153, 77, 0);
$orange800: rgb(102, 51, 0);
$yellow100: rgb(255, 255, 204);
$yellow200: rgb(255, 255, 153);
$yellow300: rgb(255, 255, 102);
$yellow400: rgb(255, 255, 51);
$yellow500: rgb(255, 255, 0);
$yellow600: rgb(204, 204, 0);
$yellow700: rgb(204, 204, 0);
$yellow800: rgb(102, 102, 0);
$lime100: rgb(230, 255, 204);
$lime200: rgb(204, 255, 153);
$lime300: rgb(179, 255, 102);
$lime400: rgb(153, 255, 51);
$lime500: rgb(128, 255, 0);
$lime600: rgb(102, 204, 0);
$lime700: rgb(77, 153, 0);
$lime800: rgb(51, 102, 0);
$green100: rgb(204, 255, 204);
$green200: rgb(153, 255, 153);
$green300: rgb(102, 255, 102);
$green400: rgb(51, 255, 51);
$green500: rgb(0, 255, 0);
$green600: rgb(0, 204, 0);
$green700: rgb(0, 153, 0);
$green800: rgb(0, 102, 0);
$teal100: rgb(204, 255, 230);
$teal200: rgb(153, 255, 204);
$teal300: rgb(102, 255, 179);
$teal400: rgb(51, 255, 153);
$teal500: rgb(0, 255, 128);
$teal600: rgb(0, 204, 102);
$teal700: rgb(0, 153, 77);
$teal800: rgb(0, 102, 51);
$lightblue100: rgb(204, 230, 255);
$lightblue200: rgb(153, 204, 255);
$lightblue300: rgb(102, 179, 255);
$lightblue400: rgb(51, 153, 255);
$lightblue500: rgb(0, 128, 255);
$lightblue600: rgb(0, 102, 204);
$lightblue700: rgb(0, 77, 153);
$lightblue800: rgb(0, 51, 102);
$blue100: rgb(204, 204, 255);
$blue200: rgb(153, 153, 255);
$blue300: rgb(102, 102, 255);
$blue400: rgb(51, 51, 255);
$blue500: rgb(0, 0, 255);
$blue600: rgb(0, 0, 204);
$blue700: rgb(0, 0, 153);
$blue800: rgb(0, 0, 102);
$purple100: rgb(230, 204, 255);
$purple200: rgb(204, 153, 255);
$purple300: rgb(179, 102, 255);
$purple400: rgb(153, 51, 255);
$purple500: rgb(128, 0, 255);
$purple600: rgb(102, 0, 204);
$purple700: rgb(77, 0, 153);
$purple800: rgb(51, 0, 102);
$pink100: rgb(255, 204, 255);
$pink200: rgb(255, 153, 255);
$pink300: rgb(255, 102, 255);
$pink400: rgb(255, 51, 255);
$pink500: rgb(255, 0, 255);
$pink600: rgb(204, 0, 204);
$pink700: rgb(153, 0, 153);
$pink800: rgb(102, 0, 102);
$magenta100: rgb(255, 204, 230);
$magenta200: rgb(255, 153, 204);
$magenta300: rgb(255, 102, 179);
$magenta400: rgb(255, 51, 153);
$magenta500: rgb(255, 0, 128);
$magenta600: rgb(204, 0, 102);
$magenta700: rgb(153, 0, 77);
$magenta800: rgb(102, 0, 51);
