@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/NotoSansKR-Thin-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/NotoSansKR-Light-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 350;
  src: url("/fonts/NotoSansKR-DemiLight-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansKR-Regular-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/NotoSansKR-Medium-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansKR-Bold-Hestia.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/NotoSansKR-Black-Hestia.woff") format('woff');
}
